@tailwind base;
@tailwind components;
@tailwind utilities;

.centrify {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .border{
    border: 2px double #32a1ce;
}

.buttonBorder {
    border: 4mm rgba(211, 220, 50, .6);
}